*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
p,
b,
i,
span,
label,
button,
li,
form,
img {
  font-family: "PT Sans", sans-serif;
}
button {
  cursor: pointer;
}
/* pantallas grandes */
@media (min-width: 1400px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 1700px) {
  html {
    font-size: 22px;
  }
}