*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
p,
b,
i,
span,
label,
button,
li,
form,
img {
  font-family: "PT Sans", sans-serif;
}
button {
  cursor: pointer;
}
/* pantallas grandes */
@media (max-width: 350px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 15px;
  }
  .container, .header {
    max-width: 1100px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
  .container, .header {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 17px;
  }
  .container, .header {
    max-width: 1300px;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 18px;
  }
  .container, .header {
    max-width: 1400px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 19px;
  }
  .container, .header {
    max-width: 1500px;
  }
}
@media (min-width: 1700px) {
  html {
    font-size: 22px;
  }
  .container, .header {
    max-width: 1600px;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 23px;
  }
  .container, .header {
    max-width: 1700px;
  }
}
@media (min-width: 2100px) {
  html {
    font-size: 25px;
  }
  .container, .header {
    max-width: 1800px;
  }
}
@media (min-width: 2500px) {
  html {
    font-size: 30px;
  }
  .container, .header {
    max-width: 2000px;
  }
}
@media (min-width: 3500px) {
  html {
    font-size: 50px;
  }
  .container, .header {
    max-width: 3500px;
  }
}
@media (min-width: 5000px) {
  html {
    font-size: 67px;
  }
  .container, .header {
    max-width: 4700px;
  }
}
